<div  class="flex flex-col items-center  font-Montserrat pt-[37px] pb-[60px]">
  <picture class="mb-[51px]"><img src="../assets/images/home/success.svg"></picture>
  <div class="text-header-1 font-semibold text-tertiary-3 mb-[78px]">Tạo game mới thành công</div>
  <div class="flex items-center gap-6">
    <button (click)="cancel()" tds-button-custom class="tds-button-secondary min-w-[218px]">
      <span class="flex h-full justify-center items-center text-header-1">Hủy</span>
    </button>
    <button  tds-button-custom class="tds-button-primary min-w-[218px]">
      <span class="flex h-full justify-center items-center text-header-1">Vào game</span>
    </button>
  </div>
</div>

