<div class="w-screen h-screen flex  overflow-hidden bg-gradient-to-b from-[#F22349] to-[#B20022] font-Montserrat relative">
  <div class="flex flex-col justify-between pt-[42px] pb-[19px] h-full w-full">
    <div class="flex justify-start items-center gap-5 lg:gap-8 pl-5 lg:pl-[147px]">
      <picture>
        <img src="../assets/images/main/logo-white.svg" alt="">
      </picture>
      <picture>
        <img src="../assets/images/main/text-logo-white.svg" alt="">
      </picture>
    </div>
    <div class="flex-auto flex items-center justify-center">
      <router-outlet></router-outlet>
    </div>
    <div class="absolute bottom-[19px] right-0">
      <picture class="hidden lg:flex">
        <img src="../assets/images/main/year.svg" alt="">
      </picture>
    </div>
    <div class="text-heading-4 text-white font-semibold  opacity-40 text-center ">@TMT Game hub</div>
  </div>
</div>
