<div class="flex flex-col items-start mb-4 p-6 bg-white rounded-xl">
  <div class="flex justify-between items-center w-full mb-[21px]">
    <div class=" flex items-center justify-center  p-2 bg-secondary-1 w-6 h-6 rounded-full">
      <span class="text-white font-semibold  text-end">{{numberQuestion}}</span>
    </div>
    <button  tds-button-flat-icon color="custom" tds-dropdown [tdsDropdownMenu]="menu" class="text-tertiary-5 hover:text-tertiary-3 ring-primary-1/20 bg-white hover:bg-tertiary-4
    focus:bg-tertiary-4 focus:border-primary-1" size="xl">
      <i class="tdsi-three-dots-vertical-fill"></i>
    </button>
    <tds-dropdown-menu #menu="tdsDropdownMenu">
      <div class="w-full py-0.5">
        <div (click)="addMedia()" tds-dropdown-item>
          <a> Thêm tiện ích </a>
        </div>
        <div (click)="settingMedia()" tds-dropdown-item>
          <a> Cài đặt</a>
        </div>
      </div>
    </tds-dropdown-menu>
  </div>
  <div class="flex flex-col items-start w-full border-b border-secondary-3 pb-7 mb-7">
    <div class="text-base leading-5 font-medium text-tertiary-3">Câu hỏi {{numberQuestion}}</div>
    <input tdsInput class="w-full h-[60px] !bg-tertiary-4 rounded-xl" type="text">
  </div>
  <div class="grid grid-cols-2 w-full gap-x-8 gap-y-[19px] mb-7">
    <div class="flex flex-col items-start gap-4 w-full">
      <div class="text-base leading-5 font-medium text-tertiary-3">Đáp án 1</div>
      <input tdsInput class="w-full h-[60px] !bg-tertiary-4 rounded-xl" type="text">
    </div>
    <div class="flex flex-col items-start gap-4 w-full">
      <div class="text-base leading-5 font-medium text-tertiary-3">Đáp án 2</div>
      <input tdsInput class="w-full h-[60px] !bg-tertiary-4 rounded-xl" type="text">
    </div>
    <div class="flex flex-col items-start gap-4 w-full">
      <div class="text-base leading-5 font-medium text-tertiary-3">Đáp án 3</div>
      <input tdsInput class="w-full h-[60px] !bg-tertiary-4 rounded-xl" type="text">
    </div>
    <div class="flex flex-col items-start gap-4 w-full">
      <div class="text-base leading-5 font-medium text-tertiary-3">Đáp án 4</div>
      <input tdsInput class="w-full h-[60px] !bg-tertiary-4 rounded-xl" type="text">
    </div>
  </div>
  <div class="flex flex-col gap-y-4">
    <div class="">Câu trả lời đúng</div>
    <div class="flex items-start gap-2">
      <div class=" flex items-center justify-center p-2 bg-tertiary-4 w-6 h-6 rounded-full">
        <span class="text-tertiary-3 font-semibold  text-end">1</span>
      </div>
      <div class=" flex items-center justify-center p-2 bg-tertiary-4 w-6 h-6 rounded-full">
        <span class="text-tertiary-3 font-semibold  text-end">2</span>
      </div>
      <div class=" flex items-center justify-center p-2 bg-tertiary-4 w-6 h-6 rounded-full">
        <span class="text-tertiary-3 font-semibold  text-end">3</span>
      </div>
      <div class=" flex items-center justify-center p-2 bg-tertiary-4 w-6 h-6 rounded-full">
        <span class="text-tertiary-3 font-semibold  text-end">4</span>
      </div>
    </div>
  </div>
</div>
