<div class="flex justify-center font-Montserrat px-4 lg:px-0">
  <div
    class="flex flex-col item item gap-10 md:gap-[78px] w-full  md:w-4/5 md:min-h-[600px] px-6 md:pl-[61px] md:pr-[63px] pt-[60px] md:pt-[85px] pb-10 md:pb-20 bg-white rounded-[33px]">
    <div class="text-center font-semibold text-black text-heading-3">Xin chúc mừng Nguyen Binh</div>
    <div class="grid grid-cols-3 gap-x-4 lg:gap-x-[78px]">
      <div class="flex flex-col gap-[15px] md:gap-8 items-center justify-end lg:px-[46px] pt-[23px] lg:pt-[93px]">
        <picture class="relative">
          <img src="../assets/images/main/bronze-class.svg" alt="">

        </picture>
        <div class="flex items-center gap-1">
          <div
            class=" flex items-center justify-center  p-1 bg-primary-1  w-[16px] h-[16px] md:w-[38px] md:h-[38px] rounded-full">
            <span class="text-white font-semibold  text-end text-[8px] md:text-header-2">3</span>
          </div>
          <div class=" font-bold text-black text-[10px] text-center">Nguyen</div>
        </div>
      </div>
      <div class="flex flex-col gap-[15px] md:gap-8 items-center justify-start lg:px-[44px] md:pb-[91px]">
        <picture class="relative">
          <img src="../assets/images/main/gold-class.svg" alt="">

        </picture>
        <div class="flex items-center gap-1">
          <div
            class=" flex items-center justify-center  p-1 bg-secondary-1  w-[16px] h-[16px] md:w-[38px] md:h-[38px] rounded-full">
            <span class="text-white font-semibold  text-end text-[8px] md:text-header-2">1</span>
          </div>
          <div class=" font-bold text-black text-[10px] text-center">Nguyen</div>
        </div>
      </div>
      <div class="flex flex-col gap-[15px] md:gap-8 items-center justify-end lg:px-[46px] pt-[23px] md:pt-[93px]">
        <picture class="relative">
          <img src="../assets/images/main/silve-class.svg" alt="">

        </picture>
        <div class="flex items-center gap-1">
          <div
            class="flex items-center justify-center p-1 bg-success-400  w-[16px] h-[16px] md:w-[38px] md:h-[38px] rounded-full">
            <span class="text-white font-semibold text-end text-[8px] md:text-header-2">2</span>
          </div>
          <div class=" font-bold text-black text-[10px] text-center">Nguyen</div>
        </div>
      </div>
    </div>
  </div>
</div>
